resources/Worklist.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://edu.wustl.xipHost.worklist/" name="Worklist" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://edu.wustl.xipHost.worklist/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://edu.wustl.xipHost.worklist/" schemaLocation="Worklist_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addWorklistEntry">
    <part name="parameters" element="tns:addWorklistEntry"/>
  </message>
  <message name="addWorklistEntryResponse">
    <part name="parameters" element="tns:addWorklistEntryResponse"/>
  </message>
  <message name="deleteWorkListEntry">
    <part name="parameters" element="tns:deleteWorkListEntry"/>
  </message>
  <message name="deleteWorkListEntryResponse">
    <part name="parameters" element="tns:deleteWorkListEntryResponse"/>
  </message>
  <message name="getNumberOfWorklistEntries">
    <part name="parameters" element="tns:getNumberOfWorklistEntries"/>
  </message>
  <message name="getNumberOfWorklistEntriesResponse">
    <part name="parameters" element="tns:getNumberOfWorklistEntriesResponse"/>
  </message>
  <message name="getWorklistEntries">
    <part name="parameters" element="tns:getWorklistEntries"/>
  </message>
  <message name="getWorklistEntriesResponse">
    <part name="parameters" element="tns:getWorklistEntriesResponse"/>
  </message>
  <message name="getWorklistEntry">
    <part name="parameters" element="tns:getWorklistEntry"/>
  </message>
  <message name="getWorklistEntryResponse">
    <part name="parameters" element="tns:getWorklistEntryResponse"/>
  </message>
  <message name="modifyWorklistEntry">
    <part name="parameters" element="tns:modifyWorklistEntry"/>
  </message>
  <message name="modifyWorklistEntryResponse">
    <part name="parameters" element="tns:modifyWorklistEntryResponse"/>
  </message>
  <portType name="Worklist">
    <operation name="addWorklistEntry">
      <input message="tns:addWorklistEntry"/>
      <output message="tns:addWorklistEntryResponse"/>
    </operation>
    <operation name="deleteWorkListEntry">
      <input message="tns:deleteWorkListEntry"/>
      <output message="tns:deleteWorkListEntryResponse"/>
    </operation>
    <operation name="getNumberOfWorklistEntries">
      <input message="tns:getNumberOfWorklistEntries"/>
      <output message="tns:getNumberOfWorklistEntriesResponse"/>
    </operation>
    <operation name="getWorklistEntries">
      <input message="tns:getWorklistEntries"/>
      <output message="tns:getWorklistEntriesResponse"/>
    </operation>
    <operation name="getWorklistEntry">
      <input message="tns:getWorklistEntry"/>
      <output message="tns:getWorklistEntryResponse"/>
    </operation>
    <operation name="modifyWorklistEntry">
      <input message="tns:modifyWorklistEntry"/>
      <output message="tns:modifyWorklistEntryResponse"/>
    </operation>
  </portType>
  <binding name="WorklistPortBinding" type="tns:Worklist">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addWorklistEntry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteWorkListEntry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getNumberOfWorklistEntries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getWorklistEntries">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getWorklistEntry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="modifyWorklistEntry">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Worklist">
    <port name="WorklistPort" binding="tns:WorklistPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

